html, body {
    max-width: 1020px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}
.portfolio {
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
    color: #767e9e;
    padding: 59px 40px 20px;
}
.portfolio h2,.aboutUs h2 {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
}
.portfolio p{
    font-size: 17px;
    letter-spacing: 0.011em;
    padding: 25px 0 14px;
}
.portfolio ul {
    list-style-type: none;
    padding: 0 0 23px;
}
.portfolio ul li{
    display: inline;
}
.portfolio ul li a{
    font-size: 9pt;
    color: #767e9e;
    border: 1px solid #767e9e;
    border-radius: 5px;
    padding: 2px 6px;
    margin-right: 7px;
    text-transform: capitalize;
}
.portfolio ul li a:hover{
    color: #fff;
    border-color: #fff;
}
.wrapProject {
    height: 650px;
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    grid: repeat(3, 187px) / repeat(4, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 3%;
}
.itemsProject {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
.itemsProject img {
    width: 100%;
}
.aboutUs {
    background-color: #f2f2f2;
    border-bottom: solid 6px #fff;
    color: #666d89;
    padding: 58px 40px 70px;
    text-align: justify;
}
.aboutUs p {
    font-size: 17px;
    line-height: 30px;
    margin-top: 18px;
    margin-bottom: 45px;
}
.itemsUs {
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    grid-column-gap: 2%;
}
.innerUs{
    overflow: hidden;
}
.innerUs img {
    height: 300px;
}
.innerUs h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin-top: 14px;
    font-weight: 400;
}
.innerUs h5:hover {
    overflow: visible;
    white-space: normal;
}
.innerUs p {
    font-size: 11px;
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 23px;
    letter-spacing: 0.035em;
}
.wrapButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}
.wrapButton a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    border: 2px solid #666d89;
    border-radius: 50%;
    margin-right: 6px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.wrapButton a:hover {
    border-style: dotted;
    border-radius: 35%;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button img {
    height: 45%;
}
