html, body {
    max-width: 1020px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

.fullNav {
    height: 90px;
    width: 1020px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
}
.smallNav {
    height: 50px;

}
h1 {
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-left: 40px;
}
h1 span {
    color: #f06c64;
}

/*menu*/
.mainMenu {
    margin-right: 40px;
    width: 39%;
}
.mainMenu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainMenu ul li{
    padding: 3px 0 0 4px;
    list-style-image: radial-gradient(#6f7690, #2d303a, #2d303a, #2d303a);
}
a {
    color: #ffffff;
}
.active {
    color: #f06c64;
}
.mainMenu a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}
.mainMenu ul li:nth-child(1) {
    list-style: none;
}
.mainMenu a:hover {
    color: #f06c64;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/*slider*/
.slider {
    height: 593px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 96px 40px 0;
}
.verticalPhone {
    padding-right: 10px;
}
.horizontalPhone {
    padding-left: 10px;
}
.arrow{
    height: 30px;
    width: 17px;
    cursor: pointer;
}
.arrow:hover {
    height: 40px;
    opacity: 80%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/*Services*/
.ourServices {
    background-color: #f2f2f2;
    border-bottom: solid 6px #fff;
    color: #6f7690;
    padding: 60px 20px 30px;
    text-align: justify;
}
.ourServices h3 {
    font-size: 23pt;
    font-weight: bold;
    padding: 0 20px;
}
.ourServices p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 45px;
    padding: 0 20px;
}
.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 20px;
}
.wrapImage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border: 2px solid #6f7690;
    border-radius: 50%;
    margin-top: 3px;
    float: left;
}
.wrap h5, h3{
    text-transform: capitalize;
    }
.wrap p, .wrap h5 {
    padding-left: 80px;
}
.wrap h5 {
    font-size: 18px;
    font-weight: 700;
}
.ourServicesInner {
    width: 33%;
}
.ourServicesInner p {
    font-size: 9pt;
    line-height: 1.8em;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
}



/*portfolio*/
.portfolio {
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
    color: #767e9e;
    padding: 59px 20px 8px;
}
.portfolio h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 20px;
}
.aboutUs h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.portfolio p{
    font-size: 17px;
    letter-spacing: 0.011em;
    padding: 25px 0 14px;
    margin: 0 20px;
}
.portfolio ul {
    list-style-type: none;
    padding: 0 0 13px;
    margin: 0 20px;
}
.portfolio_tags ul li{
    display: inline;
}
.portfolio_tags ul li button{
    background: transparent;
    font-size: 9pt;
    color: #767e9e;
    border: 1px solid #767e9e;
    border-radius: 5px;
    padding: 2px 6px;
    margin-right: 7px;
    text-transform: capitalize;
    cursor: pointer;
}

.portfolio_tags ul li button:hover {
    background: transparent;
    color: #fff;
    border-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.wrapProject ul {
    height: 650px;
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    grid: repeat(3, 187px) / repeat(4, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 3%;
    padding: 10px 0;
}
.itemsProject li img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
.itemsProject img {
    width: 100%;
    cursor: pointer;
}
.itemsProject_active {
    border: 5px solid #f06c64;
}
/*.itemsProject:hover {
    transform: scale(1.05);
    z-index: 300;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}*/




.aboutUs {
    background-color: #f2f2f2;
    border-bottom: solid 6px #fff;
    color: #666d89;
    padding: 58px 40px 68px;
    text-align: justify;
}
.aboutUs p {
    font-size: 17px;
    line-height: 30px;
    margin-top: 18px;
    margin-bottom: 45px;
}
.itemsUs {
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    grid-column-gap: 2%;
}
.innerUs{
    overflow: hidden;
}
.innerUs img {
    height: 300px;
    cursor: pointer;
}
.innerUs img:hover {
    opacity: 70%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.innerUs h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    margin-top: 15px;
}
.innerUs h5:hover {
    overflow: visible;
    white-space: normal;
}
.hiddenText {
    overflow: hidden;
    text-overflow: ellipsis;
	height: 50px;
	margin-bottom: 25px;
	
}
.innerUs p {	
    font-size: 11px;
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 23px;
    letter-spacing: 0.035em;
}
.wrapButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}
.wrapButton a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    border: 2px solid #666d89;
    border-radius: 50%;
    margin-right: 6px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.wrapButton a:hover {
    border-style: dotted;
    border-radius: 35%;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.button img {
    height: 45%;
}
.getQuote {
    padding: 59px 40px 9px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
    color: #f0d8d9;
}
.getQuote h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.getQuote p {
    font-size: 18px;
    text-align: justify;
    line-height: 29px;
    font-weight: 300;
}
.formWrap {
    display: flex;
    padding-top: 42px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: space-between;
}
.contactForm {
    flex-basis: 66%;
}
form {
    color: #f0d8d9;
}
input {
    height: 36px;
    padding-left: 15px;
    padding-right: 5px;
    font: 12px 'Lato', sans-serif;
    color: #fff;
    border: none;
    background-color: #d6564f;
}
textarea {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 5px;
	padding-bottom: 0;
    resize: none;
    color: #fff;
    font: 12px 'Lato', sans-serif;
}
.form {
    width: 100%;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
}
.form::placeholder {
    color: #f48c8f;
    font: 12px 'Lato', sans-serif;
}
form button {
    height: 36px;
    width: 100px;
    font: 16px 'Lato', sans-serif;
    background-color: rgba(45, 48, 58, 0.8);
    color: #f0d8d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    box-shadow: 0 0 5px #2d303a;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.contactInformation {
    flex-basis: 33%;
    padding-left: 40px;
}
.contactInformation h3 {
    font-size: 18px;
    padding-bottom: 8px;
}
.contactInformation p {
    font-size: 12px;
    line-height: 1.9em;
}
.contact {
    margin-top: 20px;
}
.contact img {
    float: left;
    width: 12px;
}
.contact p {
    margin-left: 25px;
}
.contact p a {
    color: #f0d8d9;
}
.contact p a:hover {
    color: #2d303a;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
footer {
    background-color: #2d303a;
    color: #767e9e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: space-between;
    padding: 24px 40px; 
    font-size: 12px;
    align-items: center;
}
.iconWrap ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    list-style: none;
}
.iconWrap a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #666d89;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 8px;
}
.iconWrap a:hover {
    border-style: dotted;
    border-radius: 35%;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.icon img {
    height: 45%;
}